<div class="ui-card">
    <img src=<%=hike.image_url %> alt="a photo of <%= hike.name %>">
        <section class="content">
            <h2>
                <span>
                    <a href="/hikes/<%= hike.id %>">
                        <%= hike.name %>
                    </a>
                </span>

                <span>
                    <form action="/likes" method="post">
                        <input type="hidden" value="<%= hike.id %>" name="hike_id">
                        <button>💙</button>
                    </form>
                </span>


            </h2>
            <h4>
                <%= hike.location %>
            </h4>
        </section>

        <footer class="content">
            <span>
                <%= hike.length %> km
            </span>
            <span>
                <%= hike.days %> days
            </span>
        </footer>
        <footer class="content">
            <% if (hike.user_id===user_id) { %>
                <span><a href="/hikes/<%= hike.id %>/edit">edit</a></span>

                <span>
                    <form action="/hikes/<%= hike.id %>" method="post">
                        <input type="hidden" value="delete" name="_method">
                        <button>delete</button>
                </span>
                <% } %>
        </footer>

</div>